{% extends "myapp/base.html" %}

{% block content %}

    <!-- Containers -->
    <div class="container-fluid p-5 bg-success text-white text-center">
        <h1>Dashboard</h1>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="card bg-danger text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-danger text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-danger text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-danger text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-danger text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-danger text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-danger text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-3">
            <div class="card bg-danger text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-warning text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-danger text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-danger text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-info text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-danger text-white">
                <a class="card-body" href="/productos_por_vencer">Futuros productos a vecer en menos de 60
                    dias: {{ productos_por_vencer }}</a>
            </div>
        </div>
    </div>
{% endblock %}