{% extends "myapp/base.html" %}

{% block content %}

<!-- Containers -->
<div class="container-fluid p-5 bg-success text-white text-center">
  <h1>Lista Categorias</h1>
</div>

<div class="container mt-4">
    <!-- Contenedor de la tabla -->
    <div class="mt-2 mb-2 ms-2 me-2">
        <!-- Tabla -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="text-light bg-secondary">ID</th>
                    <th scope="col" class="text-light bg-secondary">Categoria</th>   
                    <th scope="col" class="text-light bg-secondary">Numero de productos</th>   
                </tr>
            </thead>
            <tbody>
            {% for categoria in categorias %}   
            <tr>
                <td> <a href="/list_categorias/{{categoria.id}}"/> {{ categoria.id }}</td>
                <td>{{ categoria.name }}</td>
                <td>{{ categoria.producto_set.all | length }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}