{% extends "myapp/base.html" %}

{% block content %}

<!-- Containers -->
<div class="container-fluid p-5 bg-success text-white text-center">
  <h1>Lista Productos</h1> 
    <a href="/list_productos/add" class="btn btn-info"> Agregar </a>
</div>

<div class="container mt-4">
    <!-- Contenedor del buscador -->
    <div class="mt-2 mb-2">
        <form method="GET">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="text" name="search" placeholder="Search" aria-label="Search" value="">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                  </form>
                </div>
            </nav>
        </form>
    </div>

    <!-- Contenedor de la tabla -->
    <div class="mt-2 mb-2 ms-2 me-2">
        {{ today }}
        <!-- Tabla -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="text-light bg-secondary">Codigo</th>
                    <th scope="col" class="text-light bg-secondary">Producto</th>
                    <th scope="col" class="text-light bg-secondary">Marca</th>
                    <th scope="col" class="text-light bg-secondary">Referencia</th>
                    <th scope="col" class="text-light bg-secondary">Precio</th>
                    <th scope="col" class="text-light bg-secondary">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for producto in productos %}   
            <tr>
                <td><a href="/list_productos/{{producto.code}}">{{ producto.code }}</a> </td>
                <td>{{ producto.name }}</td>
                <td>{{ producto.brand }}</td>
                <td>{{ producto.reference }}</td>
                <td>{{ producto.price }}</td>
                <td><a href="/list_productos/{{producto.code}}/delete">Eliminar</a> / <a href="/list_productos/{{producto.code}}/update">Actualizar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}